<!-- Home Page -->
{% extends 'Base.html' %}

 
{% block content %}

<title> Cut-Off List</title>

<style>
    body {
        background-image: linear-gradient(to right, #EDE574, #E1F5C4 );
    }
</style>


<h1> Cut-Off List  </h1>
<form  name="Cutt_Off_List" method="POST" action="{% url 'cut_off_list' %}">  
    {% csrf_token %} 
  
      <h2 align=center>
        Select Course: 
          <select name="course" required>
              <option value="Select Course"> Select Course </option>
              {% for entry in course_list %}
                  <option value="{{ entry }}">{{ entry }}</option>
              {% endfor %}
          </select> 

          Select Shift: 
          <select name="shift" required>
              <option value="Select Shift"> Select Shift </option>
              {% for entry in shift_list %}
                  <option value="{{ entry }}">{{ entry }}</option>
              {% endfor %}
          </select> 

          Select Institute: 
          <select name="institute" >
              <option value="Select Institute"> Select Institute </option>
              {% for entry in institute_list %}
                  <option value="{{ entry }}">{{ entry }}</option>
              {% endfor %}
          </select> 
      
     
  
      <br/> <br/>
       
       <input type="submit" value="Search" name='Vise' /> 
      <input type="submit" value="Display All" name="All" >
      </h2>
  </form>
  <br><br>
  
  <table>
          <tr> 
              <th> Institute Code </th>
              <th> Institute Name </th>
              <th> Choice Code </th>
              <th> Course Name </th>
              <th> Shift </th>
              <th> Sub Group </th>
              <th> EWS </th>
              <th> GOPEN </th>
              <th> LOPEN </th>
              <th> GSC </th>
              <th> LSC </th>
              <th> GST </th>
              <th> LST </th>
              <th> VJDT/NTA </th>
              <th> NTB </th>
              <th> NTC </th>
              <th> NTD </th>
              <th> OBC </th>
              <th> SEBC </th>
            </tr>
  
          {% for row in result %}
          
          <tr>
              <td> {{ row.institute_code }} </td>
              <td> {{ row.institute_name }} </td>
              <td> {{ row.choice_code }} </td>
              <td> {{ row.course_name }} </td>
              <td> {{ row.shift }} </td>
              <td> {{ row.subgroup }} </td>
              <td> {{ row.ews }} </td>
              <td> {{ row.gopen }} </td>
              <td> {{ row.lopen }} </td>
              <td> {{ row.gsc }} </td>
              <td> {{ row.lsc }} </td>
              <td> {{ row.gst }} </td>
              <td> {{ row.lst }} </td>
              <td> {{ row.vjdtnta }} </td>
              <td> {{ row.ntb }} </td>
              <td> {{ row.ntc }} </td>
              <td> {{ row.ntd }} </td>
              <td> {{ row.obc }} </td>
              <td> {{ row.sebc }} </td>
         </tr>
         {% endfor %}
         
  </table>
  

  
{% endblock %}