<!-- Home Page -->
{% extends 'Base.html' %}


{% block content %}

<title> Show Seat Matrix/Availability</title>

<style>
    body {
        
        background-image: linear-gradient(to right, #ef32d9, #89fffd );
    }
</style>

<h1> Show Seat Matrix/Availability  </h1>

<form  name="show_Seat_matrix" method="POST" action="{% url 'show_seat_matrix' %}">  
    {% csrf_token %} 
  
      <h2 align=center>
        Select Main Group: 
          <select name="main" required>
              <option value="Select MainGroup"> Select MainGroup </option>
              {% for entry in main_list %}
                  <option value="{{ entry }}">{{ entry }}</option>
              {% endfor %}
          </select> 

          Select Sub Group: 
          <select name="sub" required>
              <option value="Select SubGroup"> Select SubGroup </option>
              {% for entry in sub_list %}
                  <option value="{{ entry }}">{{ entry }}</option>
              {% endfor %}
          </select> 

          Select Institute: 
          <select name="institute" >
              <option value="Select Institute"> Select Institute </option>
              {% for entry in institute_list %}
                  <option value="{{ entry }}">{{ entry }}</option>
              {% endfor %}
          </select> 
      
     
  
      <br/> <br/>
       
       <input type="submit" value="Search" name='Vise' /> 
      <input type="submit" value="Display All" name="All" >
      </h2>
  </form>
  <br><br>
  
  <table>
          <tr> 
              <th> Main Group </th>
              <th> Sub Group </th>
              <th> Institute Code </th>
              <th> Institute Name </th>
              <th> Choice Code </th>
              <th> Status </th>
              <th> Vacant Seats </th>
              <th> Lateral Seats </th>
              <th> EWS </th>
              <th> GOPEN </th>
              <th> LOPEN </th>
              <th> GSC </th>
              <th> LSC </th>
              <th> GST </th>
              <th> LST </th>
              <th> VJDT/NTA </th>
              <th> NTB </th>
              <th> NTC </th>
              <th> NTD </th>
              <th> OBC </th>
              <th> SEBC </th>
            </tr>
  
          {% for row in result %}
          
          <tr>
              <td> {{ row.main_group }} </td>
              <td> {{ row.sub_group }} </td>
              <td> {{ row.institute_code }} </td>
              <td> {{ row.institute_name }} </td>
              <td> {{ row.choice_code }} </td>
              <td> {{ row.status }} </td>
              <td> {{ row.vacant_seats }} </td>
              <td> {{ row.lateral_seats }} </td>
              <td> {{ row.ews }} </td>
              <td> {{ row.gopen }} </td>
              <td> {{ row.lopen }} </td>
              <td> {{ row.gsc }} </td>
              <td> {{ row.lsc }} </td>
              <td> {{ row.gst }} </td>
              <td> {{ row.lst }} </td>
              <td> {{ row.vjdtnta }} </td>
              <td> {{ row.ntb }} </td>
              <td> {{ row.ntc }} </td>
              <td> {{ row.ntd }} </td>
              <td> {{ row.obc }} </td>
              <td> {{ row.sebc }} </td>
         </tr>
         {% endfor %}
         
  </table>
  



{% endblock %} 